* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* header box */
#header-box {
  border-radius: 4px;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: lightblue;
  border: none;
  height: 80px;
}

#header {
  background-color: lightblue;
}

#content-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  height: 770px;
}

#inner-content-box {
  /* style here */
}

#first-last-name-box,
#birthday-gender-box,
#user-email-pass-box,
#description-box,
#flavor-box,
#check-text-box,
#required-text,
#submit-box {
  border-radius: 8px;
  width: 560px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(204, 200, 200);
}

#first-last-name-box {
  margin: 80px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  height: 50px;
}

#birthday-gender-box {
  margin: 20px;
  height: 50px;
  margin-bottom: 70px;
}

#user-email-pass-box {
  margin: 20px;
  height: 50px;
  margin-bottom: 70px;
}

#description-box {
  margin: 20px;
  height: 50px;
  margin-bottom: 70px;
}

#flavor-box {
  margin: 20px;
  height: 50px;
  margin-bottom: 70px;
}

#check-text-box {
  margin-left: 20px;
  margin-right: 20px;
}

#submit-box {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  background-color: white;
}

#required-text {
  margin-top: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  font-size: small;
}

.shadow {
  box-shadow: 2px 2px 4px;
  transition: 400ms;
}
